#avo2{
  border-radius: 50%;
  height: 15%;
  width: 15%;
  float: left;
  margin-left: 10%;
  margin-right: 5%;
}

header{
  color: gray;
}
h1{
  color: gray;
}
h2{
  color: gray;
}
h3{
  color: gray;
  font-size: 30px;
}
.icons{
  height: 17%;
  width: 20%;
  padding: 2px;
  fill-opacity: 0.5;
}
#image1{
  height: 40%;
}
.lang{
  text-align: left;
  margin-bottom: 5%;
}
#myChart {
  max-width: 100%;
  max-height: 60%;
  margin-top: -5%;
  z-index: 100;
  position: absolute;
}
.languages-container {
  max-width: 75%;
  max-height: 60%;
  margin: auto;
}
