.header{
  background-image: url('./images/code.jpeg');
  height: 375px;
  text-shadow: 1.5px 1.5px 1px #b3dff2;
  width: 100%;

}

h1{
  margin-top: 0px;
  color: #ffffff;
  font-size: 70px;
  text-align: center;
  line-height: 250px;
  font-family: 'Raleway', sans-serif;
}


#headerLinks{
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}

a{
  color: #ffffff;
}

#about-me{
  font-size: 25px;
  background-color: white;
  font-family: 'Raleway', sans-serif;
}
h2 {
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
}

.projects{
  font-size: 45px;
  font-family: 'Raleway', sans-serif;

}

body {
  /*background-image: url('./images/gray.jpg');*/
  background-color: white;

}

#languages {
  background-image: url('./images/keyboard.jpeg');
  background-repeat: no-repeat;
  height: 180%;
}

.lang {
  line-height: 30px;
  color: gray;
  font-size: 45px;
  padding-bottom: 3%;
  border-bottom: 3px solid gray;
}

.icons {
  max-width: 12em;
  float: left;
  padding: 10px;


}

/* if you want to change the original color */
.icons path {
  fill: gray;
}

#languages-panel {
  opacity: 0.7;
}


.flip {
  -webkit-perspective: 800;
   width: 420px;
   height: 225px;
    position: relative;
    margin: 50px auto;
}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
    border: solid 2px gray;
    display: block;
}
.flip .card .front {
    position: absolute;
    z-index: 1;
    color: #9e9e9e;
    cursor: pointer;
}

#card1{
  background-image: url('./images/hangman.png');
}
#card2{
  background-image: url('./images/GIPHY.png');
}
#card3{
  background-image: url('./images/crystal.png');
}
#card4{
  background-image: url('./images/Yo-Brew.png');
}
#card5{
  background-image: url('./images/rak.png');
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
    background: #9e9e9e;
    color: black;
    cursor: pointer;
    font-size: 10px;
    padding-top: 30px;
    padding-left: 10px;
    opacity: 0.87;
}
#herokuLink {
padding-right: 50px;
}
#cardText {
  text-align: center;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
#cardLine1 {
  line-height: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#description{
  font-family: 'Raleway', sans-serif;
  /*font-family: 'Londrina Outline', cursive;*/
  font-size: 18px;
  line-height: 20px;
}

.col-md-5{
  text-align: center;
  display: block;
  margin-left: 50px;
}

.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.tilt:hover {
  -webkit-transform: rotate(-5deg);
     -moz-transform: rotate(-5deg);
       -o-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
}
.tilt1 {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.tilt1:hover {
  -webkit-transform: rotate(5deg);
     -moz-transform: rotate(5deg);
       -o-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
          transform: rotate(5deg);
}

footer {
  background-color: black;
  opacity: 0.7;
  bottom: 0px;
  color: #ffffff;
  border-top: #ffffff solid .5px;
}
.footerText {
  color: #ffffff;
  text-align: center;
  line-height: 50px;
  border-bottom: #ffffff solid 2px;
  font-size: 45px;
  font-family: 'Raleway', sans-serif;
}
h5 {
  font-family: 'Raleway', sans-serif;
  /*font-family: 'Londrina Outline', cursive;*/
  text-align: center;
  font-size: 32px;
  border-bottom: #ffffff solid 1px;
}


.email {
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
}

#gitHubImgs{
  float:right;
  padding-top: 15px;
}
#linkedInImgs{
  float: left;
  padding-bottom: 15px;
}
